{% load i18n %}
{% load bootstrap_toolkit %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <meta charset="utf-8">
    <title>{% block title %}Easy Sem Tools{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Salil Panikkaveettil">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Easy SEM Tools</a>
            <ul class="nav">
                <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                <li><a href="">Form</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Vertical</a></li>
                        <li><a href="">Horizontal</a></li>
                        <li><a href="">Inline</a></li>
                        <li><a href="">Search</a></li>
                        <li><a href="">Using template</a></li>
                    </ul>
                </li>
                <li><a href="">Formset</a></li>
                <li><a href="">Tabs &amp; Pills</a></li>
                <li><a href="">Pagination</a></li>
                <li><a href="">Buttons</a></li>
                <li><a href="">Contact</a></li>
            </ul>
                {% block header %}
                    <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="">{{ user.username }}</a></li>
                        <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                        <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></li>
                    {% endif %}
                    </ul>
                {% endblock %}

        </div>
    </div>
</div>
<div class="container">

    {% bootstrap_messages %}

    <div id="content"> {% block content %}Empty page{% endblock %} </div>

    <p><hr></p>

    <footer class="row">
        <div id="footer">
            {% block footer %}
                <div class="span6">
                    <p>This is <a href="">easysemtools</a></p>
                </div>
                <div class="span6" style="text-align:right">
                    <p>
                        &copy; <a href="">Easy sem tools</a> 2014
                    </p>
                </div>
            {% endblock %}
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>